<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>거래내역조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <form action="#" th:action="@{/transactionsHistoryInquiry}" method="post">
            <h1>거래내역조회</h1>
            <input type="hidden" name="id" th:value="${id}"/>
            <input type="hidden" name="page" value="0"/>
            <div>
                <label for="accountNumber">계좌 선택:</label>
                <select name="accountNumber" id="accountNumber">
                    <option th:each="account : ${accountList}"
                            th:value="${account.getAccountNumber()}"
                            th:text="${account.getAccountNumber()}"></option>
                </select>
            </div>

            <div>
                <label for="inquiryStartDate">조회기간</label>
                <input type="text" id="inquiryStartDate" name="inquiryStartDate">
                <label for="inquiryEndDate">~</label>
                <input type="text" id="inquiryEndDate" name="inquiryEndDate">
            </div>

            <div>
                <label>조회내용</label>
                <input type="radio" name="inquiryType" value="" checked>전체
                <input type="radio" name="inquiryType" value="01">출금내용만
                <input type="radio" name="inquiryType" value="02">입금내용만
            </div>

            <div>
                <label>조회내용</label>
                <input type="radio" name="inquirySort" value="ASC" checked>최근 거래내역이 위로
                <input type="radio" name="inquirySort" value="DESC">과거 거래내역이 위로
            </div>

            <button type="submit">조회</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>