<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>거래내역조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>거래내역 조회 결과</h1>

    <table>
        <thead>
        <tr>
            <th>계좌 번호</th>
            <th>거래 금액</th>
            <th>거래 유형</th>
            <th>입금 ID</th>
            <th>출금 ID</th>
            <th>적요</th>
            <th>거래 일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionList}">
            <td th:text="${transaction.accountNumber}"></td>
            <td th:text="${transaction.transactionAmount}"></td>
            <td>
                <span th:switch="${transaction.transactionType}">
                    <span th:case="01">출금</span>
                    <span th:case="02">입금</span>
                </span>
            </td>
            <td th:text="${transaction.depositId}"></td>
            <td th:text="${transaction.withdrawId}"></td>
            <td th:text="${transaction.memo}"></td>
            <td th:text="${transaction.transactionDate}"></td>
        </tr>
        </tbody>
    </table>

    <form action="#" method="post" th:action="@{/transactionsHistoryInquiry}">

    <th:block th:if="${!#strings.isEmpty(transactionsHistoryInquiryForm.getAccountNumber())}" th:each="page : ${#numbers.sequence(startPage + 1, endPage + 1)}">
        <button th:if="${page - 1 != nowPage}" th:text="${page}" th:value="${page - 1}"  type="submit" name="page"></button>
        <strong th:if="${page - 1 == nowPage}" th:text="${page}"></strong>
    </th:block>

    <input type="hidden" name="id" th:value="${transactionsHistoryInquiryForm.getId()}"/>
    <input type="hidden" name="accountNumber" th:value="${transactionsHistoryInquiryForm.getAccountNumber()}">
    <input type="hidden" name="inquiryStartDate" th:value="${transactionsHistoryInquiryForm.getInquiryStartDate()}">
    <input type="hidden" name="inquiryEndDate" th:value="${transactionsHistoryInquiryForm.getInquiryEndDate()}">
    <input type="hidden" name="inquiryType" th:value="${transactionsHistoryInquiryForm.getInquiryType()}">
    <input type="hidden" name="inquirySort" th:value="${transactionsHistoryInquiryForm.getInquirySort()}">

    </form>
</div> <!-- /container -->
</body>
</html>