<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>거래내역조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>이체 완료</h1>

        <div>
            <label>출금계좌</label>
            <text th:text="${accountNumber}"></text>
        </div>

        <div>
            <label>보낸금액</label>
            <text th:text="${accountBalance}"></text>
        </div>

        <div>
            <label>계좌잔액</label>
            <text th:text="${accountAfterBalance}"></text>
        </div>

        <div>
            <label>입금 계좌번호</label>
            <text th:text="${depositAccountNumber}"></text>
        </div>

        <div>
            <label>받은사람</label>
            <text th:text="${depositId}"></text>
        </div>

        <div>
            <label>적요</label>
            <text th:text="${memo}"></text>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>