<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <h1>거래내역조회</h1>
        <table>
            <tr>
                <th>계좌번호</th>
                <th>입출금통장 1001-1001</th>
            </tr>
            <tr>
                <td>2024-10-26 09:00:01</td>
                <td>입출금통장 1001-1002</td>
            </tr>
            <tr>
                <td>출금</td>
                <td>10,000원</td>
            </tr>
            <tr>
                <td>잔액</td>
                <td>0원</td>
            </tr>
            <tr>
                <td>적요</td>
                <td>만원 이체</td>
            </tr>

        </table>
        <p>
            <button>조회</button>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>