<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>거래내역조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h1>이체</h1>
        <p>
            <span>출금계좌번호</span>
            <label>
                <text>입출금통장 1001-1001</text>
            </label>
        </p>
        <p>
            <label>이체금액</label>
            <label>
                <text>10,000원</text>
            </label>
        </p>
        <p>
            <label>잔액</label>
            <label>
                <text>0원</text>
            </label>
        </p>
        <p>
            <label>입금계좌번호</label>
            <label>
                <text>입출금통장 1001-1002</text>
            </label>
        </p>
        <p>
            <label>받는사람</label>
            <label>
                <text>홍길동</text>
            </label>
        </p>
        <p>
            <button>확인</button>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>