<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>거래내역조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <form action="#" th:action="@{/transfer}" method="post">
            <h1>이체</h1>

            <input type="hidden" name="id" th:value="${id}"/>
            <div>
                <label for="accountNumber">계좌 선택:</label>
                <select name="accountNumber" id="accountNumber">
                    <option th:each="account : ${accountList}"
                            th:value="${account.getAccountNumber()}"
                            th:text="${account.getAccountNumber()}"></option>
                </select>
            </div>

            <div>
                <label for="accountPassword">계좌비밀번호</label>
                <input type="text" id="accountPassword" name="accountPassword">
            </div>

            <div>
                <label for="accountBalance">보낼금액</label>
                <input type="text" id="accountBalance" name="accountBalance">
            </div>

            <div>
                <label for="depositAccountNumber">입금 계좌번호</label>
                <input type="text" id="depositAccountNumber" name="depositAccountNumber">
            </div>

            <div>
                <label for="memo">적요</label>
                <input type="text" id="memo" name="memo">
            </div>

            <button type="submit">이체</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>